@import "../../../styles.scss";
#form-container {
  @include flx(center, stretch, column);
  & > div {
    @include flx(center, center, column);
  }
  & > form {
    @include flx(center, stretch, column);
    & mat-form-field {
      min-width: 320px;
    }
    button[type="submit"] {
      min-width: 200px;
      margin: auto;
      margin-top: 7px;
      margin-bottom: 4px;
    }
  }
}
button {
  min-width: 200px;
  margin: auto;
}

.error-message {
  color: map-get($angular-application-warn, 500);
}
