@import "../../../styles.scss";
.home-card {
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
  padding: 40px 40px 60px 40px;
  background-color: map-get($secondary, 200);
  color: map-get($secondary, "200-contrast");
  @include flx(flex-start, center, column);
  p {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    a {
      text-decoration: none;
      color: map-get($primary, "A700");
      font-weight: 500;
      cursor: pointer;
    }
  }
}
@media (max-width: 599px) {
  .home-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}
