<mat-card class="board">
  <div class="head">
    <mat-card-title>
      <span *ngIf="!canEdit">
        {{ board.title }}
      </span>
      <mat-form-field class="input" *ngIf="canEdit">
        <input matInput [(ngModel)]="newBoardTitle" required />
      </mat-form-field>
    </mat-card-title>
    <div>
      <button
        mat-icon-button
        color="white"
        *ngIf="!canEdit"
        (click)="makeTitleEditable()"
      >
        <mat-icon> edit </mat-icon>
      </button>
      <button
        mat-icon-button
        color="white"
        *ngIf="canEdit && newBoardTitle"
        (click)="updateBoardTitle()"
      >
        <mat-icon> done </mat-icon>
      </button>
      <button
        mat-icon-button
        color="white"
        *ngIf="canEdit && !newBoardTitle"
        (click)="closeEditOpt()"
      >
        <mat-icon> clear </mat-icon>
      </button>

      <ng-content></ng-content>
    </div>
  </div>
  <div class="sub-heading">
    <mat-card-subtitle> </mat-card-subtitle>
  </div>
  <mat-card-content
    class="tasks"
    cdkDropList
    [cdkDropListData]="board"
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <mat-card
      cdkDrag
      cdkDragDisabled
      *ngIf="board.tasks.length === 0"
      style="background-color: gray; color: inherit; margin-bottom: 10px"
    >
      No Task
    </mat-card>
    <div
      class="inner-card"
      cdkDrag
      *ngFor="let task of board.tasks; let i = index"
    >
      <mat-card [ngClass]="task.label" (click)="openDialog(task, i)">
        {{ task.description }}
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="primary" (click)="openDialog()">
      <mat-icon> add </mat-icon>
    </button>
    <app-delete-button (delete)="deleteBorad()"> </app-delete-button>
  </mat-card-actions>
</mat-card>
