@import "../../../../styles.scss";

mat-card#auth-card {
  background-color: map-get($secondary, A100);
  color: map-get($secondary, "A100-contrast");
  max-width: 425px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 10;
  box-shadow: $default-shadow;
  @include flx(center, stretch, column);
  & > div {
    margin-top: 40px;
    margin-bottom: 40px;
    @include flx(center, center, column);
  }
}

button[appGoogleSignin] {
  min-width: 200px;
}
@media (max-width: 599px) {
  mat-card#auth-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}
