// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #e4e5e6,
  100: #bdbfc1,
  200: #919498,
  300: #64696f,
  400: #434850,
  500: #222831,
  600: #1e242c,
  700: #191e25,
  800: #14181f,
  900: #0c0f13,
  A100: #589bff,
  A200: #257cff,
  A400: #0060f1,
  A700: #0056d7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-secondary: (
  50: #fffaed,
  100: #fff2d2,
  200: #ffe9b4,
  300: #ffe096,
  400: #ffda80,
  500: #ffd369,
  600: #ffce61,
  700: #ffc856,
  800: #ffc24c,
  900: #ffb73b,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff5e4,
  A700: #ffebca,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-light-primary: (
  50: #e7e8e9,
  100: #c4c5c8,
  200: #9c9fa3,
  300: #74787e,
  400: #575b62,
  500: #393e46,
  600: #33383f,
  700: #2c3037,
  800: #24282f,
  900: #171b20,
  A100: #67a8ff,
  A200: #348bff,
  A400: #016eff,
  A700: #0063e6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$default-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($md-primary, 500, 200, 800);
$secondary: mat-palette($md-secondary, 400, 200, 700);
$angular-application-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-application-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-application-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      secondary: $secondary,
      accent: $angular-application-accent,
      warn: $angular-application-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-application-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}

@mixin flx($jc: center, $ai: center, $dir: row, $wp: nowrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
  flex-wrap: $wp;
}

* {
  outline: none;
}

.dialog .mat-dialog-container {
  background-color: map-get($secondary, 300);
}

.yellow {
  color: #f6d853;
}
.blue {
  color: #10a3eb;
}

.green {
  color: #3ac166;
}
.red {
  color: #ca3139;
}
